@namespace CafeUrbania.UI.Admin

<ul class="list-group">
    <li class="list-group-item active">Historique des commandes</li>
    <li class="list-group-item" >Gestionnaire du menu</li>
    <li class="list-group-item">Historique Contactez-nous</li>
    <li class="list-group-item">Paramètres</li>
    <li class="list-group-item">Rétroactions</li>
</ul>

