
<div>
    <h2>Détails des informations</h2>
    <p>
        475, boulevard de l’Avenir
        <br>Laval (Québec)  H7N 5H9
        <br>CANADA
    </p>
    <p>
        <span title="Téléphone">Téléphone</span>: (450) 975-6100<br />
        <span title="Heures">Heures</span>: Lundi - Vendredi: 6:00 à 21:00
    </p>
    <img style="width: 100%" src="images/marketing/placeholder.png" />
</div>

@code {

}
