@page "/contact-confirmation"
@inject NavigationManager NavManager

<div class="page-wrapper">
    <div class="container">
        <h2>Merci beaucoup!</h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <p>Une personne du service client vous répondra sous peu. Nous faisons de notre mieux pour vous répondre dans les 24 heures.</p>
            </div>
            <div>
                <img src="images/marketing/placeholder.png" />
            </div>
        </div>
    </div>
</div>