@page "/order-confirmation"
@using CafeUrbania.Models

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Merci beaucoup!</h2>
                <p>Votre commande est maintenant en préparation et sera bientôt prête. Vous pouvez récupérer vos articles à l’une de nos stations de caféine.</p>
                <p>Vous souhaitez commander plus rapidement ? Assurez-vous de télécharger notre application pour bénéficier du meilleur service.</p>
            </div>
            <div>
                <img src="images/marketing/placeholder.png" />
            </div>
        </div>
    </div>
</div>
