@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<NavMenu />

@Body

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="m-0 text-white">Copyright &copy; Café Urbania</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 text-white">Informations contact:</p>
                <p class="m-0 text-white"><br />Adresse: 475 de l'Avenir Test <br />Email: Care@cafeurbania.com</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 text-white">Phrase café du jour</p>
                <p class="m-0 text-white">
                    <br />Les fèves du café sont techniquement des fruits! La plante qui les produit est un arbre fruitié.
                </p>
            </div>
        </div>
    </div>
</footer>